@import url('normalize.css');

/* 自定义重置样式 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: #666;
  text-decoration: none;
  border: none;
  outline: none;
}

a:hover {
  color: #666;
  text-decoration: underline;
}

i,
em {
  font-style: normal;
}

input,
button,
select {
  border: none;
  outline: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  vertical-align: middle;
  border: none;
}
